@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo(a)</h1>
    <h5>Mantenha sua base de clientes atualizada e protegida com nosso sistema de cadastros</h5>
</div>
